<h1>HAPPY RESTAURANTS</h1>
<div class = "restaurants">

<%@restaurants.each do |res| %>
<%= res.name %>

 <% end %>

 <% if @restaurants.blank? %>
   <h4>There are no restaurants in  <%= params[:search] %>.</h4>
 <% end %>

</div>
