// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-shadow: 0 0 10px purple,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #ff00de,
  0 0 70px #ff00de,
  0 0 80px blue,
  0 0 100px #ff00de,
  0 0 150px yellow;
  font-size: 100px;
  text-align: center;

}
body{
  background-color: black;
  border-color: white;


}


input[value="Search"]{
  background-color: black;
  width: 150px;
  height: 75px;
  font-size: 30px;
  color: white;
  position: inherit;
  // margin-right: auto;

}
input[id="search"]{
  width: 75%;
  color: white;
  height: 75px;
  font-size: 30px;
  padding-left: 50px;
  margin-left: 40px;
  background-color: black;
  position: inherit;

}
.buttons{
  vertical-align: middle;
  margin-left: 100px;
  padding-top: 15px;
  padding-left: 30px;
  color: #878787;
  font-size: 20px



}

.restaurants{
color: white;

}



  input[type="checkbox"]{
    position: relative;
}

.restaurants p{
  display: inline;
  margin-top: 3em;
}

.restaurants{
  padding-left: 2em;
  padding-top: 3em;
  font-size: 30px;;
}

h4{
text-align: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (max-width: 500px) {
    body {
        background-color: black;
    }

    input[id="search"]{
      width: auto;
      color: white;
      height: 20px;
      font-size: 1em;
      padding-left: 30px;
      margin-left: auto;
      background-color: black;
    }

    input[value="Search"]{
      background-color: black;
      width: auto;
      height: 1.5em;
      font-size: 1em;
      color: white;

    }

    .buttons{
      display: list-item;
      margin-left: 1px;
      padding-top: 5px;
      padding-left: 2px;
      color: #878787;
      font-size: 20px
      }

    .restaurants{
      font-size: 12px;

    }

    input[id="search"]{
      width: auto;
      color: white;
      height: 20px;
      font-size: 12px;
      padding-left: 10px;
      margin-left: auto;
      background-color: black;
    }

    H1 {
      text-shadow: 0 0 10px purple,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #ff00de,
      0 0 70px #ff00de,
      0 0 80px blue,
      0 0 100px #ff00de,
      0 0 150px yellow;
      font-size: 45px;
      text-align: center;}

      img{
      max-width: 75px;
      max-height: 75px;

      }

}
